.pagination {
  gap: 2px;
  display: flex;
  justify-content: flex-end;
}

.pagination button {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  font-size: var(--fs-16px);
  font-family: var(--ff-text);
  font-weight: var(--fw-regular);
  color: var(--clr-text-light-gray);
}

.pagination button:hover {
  --clr-text: #FFA585;
  
  color: var(--clr-text);
  border: 1px solid var(--clr-text);
  background-color: var(--clr-white);
}

.icon-arrow-left {
  margin: 0px 4px 0px 7px;
}

.icon-arrow-right, 
.icon-arrow-left {
  display: flex;
  align-items: center;
  justify-content: center;
}