.grid-products {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 32px;
  margin-bottom: 74px;
}

@media screen and (max-width: 84.375rem) {
  .grid-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 62.5rem) {
  .grid-products {  
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 37.5rem) {
  .grid-products {
    grid-template-columns: 1fr;
  }
}